main{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    width: 100%;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outlet {
    width: 100vw;
    max-width: 1440px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outlet.dashboard-align-start {
  align-items: flex-start;
}

app-header{
    width: 100%;
    display: flex;
}

