<div class="signup-container">
  <h1>SignUp</h1>

  <article *ngIf="showErrorToast" class="toast">
    <article class="error"></article>
    <main>
      <img src="../../assets/img/ExclamationCircleFill.svg" alt="" />
      <p>{{ errorMessage }}</p>
      <aside>
        <img
          (click)="closeToast()"
          src="../../assets/img/close_small.svg"
          alt=""
        />
      </aside>
    </main>
  </article>

  <article *ngIf="showSuccessToast" class="toast toastSuccess">
    <article class="error"></article>
    <main>
      <img src="../../assets/img/ExclamationCircleFill.svg" alt="" />
      <p>{{ successMessage }}</p>
      <button (click)="onSuccessToastOk()">OK</button>
      <aside>
        <img
          (click)="closeToast()"
          src="../../assets/img/close_small.svg"
          alt=""
        />
      </aside>
    </main>
  </article>

  <form (ngSubmit)="signUp()" #signupForm="ngForm">
    <div class="input-group">
      <img src="../../assets/img/mail.svg" alt="email icon" />
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Email Address"
        required
      />
    </div>

    <div class="input-group">
      <img src="../../assets/img/password.svg" alt="password icon" />
      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        [(ngModel)]="password"
        placeholder="Enter a password"
        required
      />
      <img
        src="../../assets/img/{{ showPassword ? 'visibility_off' : 'visibility' }}.svg"
        alt="toggle visibility"
        (click)="togglePasswordVisibility()"
        class="toggle-icon"
      />
    </div>
    <div class="input-group">
      <img src="../../assets/img/password.svg" alt="password icon" />
      <input
        [type]="showPassword ? 'text' : 'password'"
        name="repeatedPassword"
        [(ngModel)]="repeatedPassword"
        placeholder="Confirm Password"
        required
      />
      <img
        src="../../assets/img/{{ showPassword ? 'visibility_off' : 'visibility' }}.svg"
        alt="toggle visibility"
        (click)="togglePasswordVisibility()"
        class="toggle-icon"
      />
    </div>
    <div class="error-message" *ngIf="passwordError">
      <img class="warning" src="../../assets/img/warning.svg" alt="" />
      {{ passwordError }}
    </div>

    <button type="submit" [disabled]="!email || !password || !repeatedPassword">
      Get Started
    </button>
  </form>
</div>
