
/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/dm-sans-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/dm-sans-v16-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/dm-sans-v16-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

app-root{
    width: 100%;
    display: flex;
}

html{
  width: 100%;
    display: flex;
    justify-content: center;
}

body.startpage-background {
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 55%, rgba(0,0,0,0.7) 100%),
    url('/assets/img/startBG.jpg') no-repeat center center;
  background-size: cover;
}

body.signup-background {
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 55%, rgba(0,0,0,0.7) 100%),
    url('/assets/img/laptop.jpg') no-repeat center center;
  background-size: cover;
}

body.login-background {
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 55%, rgba(0,0,0,0.7) 100%),
    url('/assets/img/popcorn.jpg') no-repeat center center;
  background-size: cover;
}

body.background {
    background-color: #141414;
}


input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #1b1b22d9 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #1b1b22d9 inset !important;
  -webkit-text-fill-color: #D3D3D3 !important;
  transition: background-color 5000s ease-in-out 0s;
}


.toast {
  display: flex!important;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  bottom: 20px;
  left: 20px;
  padding-inline: 0!important;
  padding-block: 0!important;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  z-index: 1000;
  background-color: #2E3EDF!important;
  height: 80px;
  width: 540px;
  button{
    width: 108px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 40px;
    border: none;
    margin-right: 20px;
  }
  article{
    border-radius: 20px 0 0 20px;
    width: 38px;
    height: 100%;
  }
  aside{
    border-inline-start: 1px solid white;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
  }
  img{
    width: 32px;
    height: auto;
    padding: 20px;
  }
  p{
    flex: 1;
    margin-inline: 5px;
  }
  .success{
    background-color: greenyellow;
  }
  .error{
    background-color: red;
  }
}

.toastSuccess{
  width: 615px;
}


@media (max-width:720px){
  .toast {
    flex-direction: column;
    justify-content: flex-start;
    height: 232px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    article{
      width: 100%;
      height: 16px;
      border-radius: 20px 20px 0 0;
    }
    aside{
      border-inline-start: none;
    }
    main{
      padding: 30px;
      display: flex;
      align-items: center;
    }
    button{
      position: absolute;
      top: 150px;
     left: 50%;
     transform: translateX(-50%);
    }
  }
}